:root {
  --main-color: #212121;
  --text-color: #757575;
  --main-title-color: #212121;
  --accent-color: #2196f3;
  --background-color: #2f303a;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* ---------------header----------------- */

.header {
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 84px;
}

.header-list {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-connect {
  display: flex;
  margin-left: auto;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0;
}

.span {
  color: var(--accent-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-mail:focus,
.header-mail:hover {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-left: 50px;
}

.header-tel:focus,
.header-tel:hover {
  color: var(--accent-color);
}

/* ---------------hero----------------- */

.main {
  background-color: #ffffff;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 40px;
}

.hero {
  background-color: var(--background-color);
  flex-grow: 1;
  padding-bottom: 215px;
  padding-top: 195px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  margin: 0 auto;
}

.hero-btn:focus,
.hero-btn:hover {
  color: #ffffff;
}

/* ---------------benefits---------------- */

.benefits-list {
  display: flex;
}

.benefits-item {
  margin-right: 30px;
}

.benefits-item:nth-last-child(1) {
  margin-right: 0;
}

.benefits {
  padding-top: 89px;
  padding-bottom: 94px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.benefits-after-title {
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ---------------our-work---------------- */

.our-work {
  padding-bottom: 94px;
}

.our-work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.our-work-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.our-work-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-right: 30px;
}

.our-work-item:nth-child(3n) {
  margin-right: 0;
}

/* --------------command----------------- */

.command-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.command-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-right: 30px;
}

.command-item:nth-child(4n) {
  margin-right: 0;
}

.command-item-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.command {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.command-title3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}

.command-after-title {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* --------------footer----------------- */

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer {
  background-color: var(--background-color);
  font-style: normal;
  text-decoration: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-link {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list {
  margin-top: 20px;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:nth-last-child(1) {
  margin-bottom: 0;
}
/* -------------------------------portfolio--------------------------------- */

/* --------------main----------------- */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.portfolio-items-button {
  margin-right: 8px;
}

.portfolio-items-button:nth-last-child(1) {
  margin-right: 0px;
}

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background: #f5f4fa;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-style: none;
}

.portfolio-button:focus,
.portfolio-button:hover {
  color: #ffffff;
  background: #2196f3;
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-items {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-items:nth-child(3n) {
  margin-right: 0px;
  margin-bottom: 0px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

.portfolio-after-title {
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio-box {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
