.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-items-button {
  margin-right: 8px;
  &:nth-last-child(1) {
    margin-right: 0px;
  }
}

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  background: #f5f4fa;
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-style: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: #ffffff;
    background: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-items {
  flex-basis: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  &:hover .portfolio-img-text {
    transform: translateY(0);
  }
  &:nth-child(3n) {
    margin-right: 0px;
  }
  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus .portfolio-img-text {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: translateY(0);
  }
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  margin-bottom: 4px;
}

.portfolio-after-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio-box {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.portfolio-item-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
